body {
  font-size: 100%;
  line-height: 1.5;
  text-align: center;
  background-color: #edf2f7;
  color: #8594ad;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
  justify-content: center;
}

/***** Typography *****/
h1 {
  font-size: 125px;
  font-weight: bold;
  color: #63b3ed;
}

h2 {
  font-size: 32px;
  color: #8594ad;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

/***** Header *****/
.hero {
  height: 325px;
  background-color: white;
  margin-top: 36px;
}

a:hover {
  background-color: white;
  color: #a0aec0;
  border: 1px solid #dd6b20;
}

.hire {
  font-size: 24px;
  color: white;
  border: 0px;
  text-decoration: none;
  padding: 5px;
}

.blue {
  color: #63b3ed;
}

.brown {
  background-color: #dd6b20;
}

header div h2 {
  padding-right: 20px;
}


/****** Main *****/
main {
  padding-top: 36px;
  padding-bottom: 36px;
}

.box-width {
  width: 300px;
  height: 261px;
  background-color: white;
}

ul {
  line-height: 2;
}

.box-width h3 {
  padding-top: 30px;
}


/***** Footer *****/
footer {
  height: 50px;
  margin: 0 auto;
  background: white;
  text-align: left;
}

footer p {
  font-style: italic;
  padding-top: 20px;
}

/** Mobile device **/
@media screen and (max-width: 50rem) {
  body {
    overflow-x: hidden;
    margin: 0 auto;
  }

  h1 {
    font-size: 80px;
  }

  header div {
    flex-direction: column;
    padding: 10px;
  }


  main {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  section {
    display: grid;
  }

  footer {
    height: 80px;
    margin: 0 auto;
    background: white;
    text-align: center;
  }

  footer p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
  }
}

/**** Desktop ****/
@media screen and (min-width: 70rem) {
  .container {
    width: 960px;
  }

  .hero {
    width: 960px;
  }

  footer {
    width: 960px;
  }

  .mr {
    margin-right: 30px;
  }

  .pad-right {
    padding-right: 30px;
  }
}